<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        <h2>Pagina de inicio</h2>
        <p th:text="${mensaje}"></p>
        <p th:text="${dato}"></p>
        <hr><!-- comment -->
        
        <b>cedula:</b><span th:text="${alguien.cedula}"></span><br>
        <b>clave:</b><span th:text="${alguien.clave}"></span><br>
        <b>nombre:</b><span th:text="${alguien.nombre}"></span><br>
        <b>email:</b><span th:text="${alguien.email}"></span><br>
        <hr>
        
        <h4>LISTA DE PERSONAS</h4>
        <div th: if="${usuario != bull and !usuario.empty}">
            <table border = "1">
                <tr>
                    <th>CEDULA</th>
                    <th>CLAVE</th>
                    <th>NOMBRE</th>
                    <th>EMAIL</th>
                    
                </tr>
                <tr th:each ="u: ${usuario}">
                    <td th:text="${u.cedula}"></td>
                    <td th:text="${u.clave}"></td>
                    <td th:text="${u.nombre}"></td>
                    <td th:text="${u.email}"></td>
                </tr>
                
            </table>
            
        </div>
        <div th: if="${usuario == null or usuario.empty}">
            La lista de usuario Vacias
            
        </div>
    </body>
</html>
